<link rel="stylesheet" href="/list.css" />
<div class="container">
  <h1>Products List</h1>
  <a href="/products/new" class="add-user-btn">Add Product</a>
  <table>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Image</th>
      <th class="actions">Actions</th>
    </tr>
    <% products.forEach(p => { %>
    <tr>
      <td><%= p.name %></td>
      <td>
        <%= p.price %><%if(p.price>20000){%>
        <div class="condition" style="color: red">
          <p>Premium</p>
        </div>

        <%}%>
      </td>
      <td><%= p.description %></td>
      <td>
        <img
          src="/<%= p.image %>"
          alt="<%= p.name %> Image"
          style="max-width: 100px; max-height: 100px"
        />
      </td>
      <td class="actions">
        <a href="/products/<%= p.id %>/edit">Edit</a>
        <form action="/products/<%= p.id %>?_method=DELETE" method="post">
          <button type="submit" class="delete-btn">Delete</button>
        </form>
      </td>
    </tr>
    <% }) %>
  </table>
</div>
